body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}


.form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}


h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}


.input-group {
    margin-bottom: 20px;
}

.input-group label {
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

.input-group input, .input-group textarea {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 16px;
    transition: border-color 0.3s ease;
}


.input-group input:focus, .input-group textarea:focus {
    border-color: blue;
    outline: none;
}


button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darkblue;
}